################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BlazoRsvp/config
/.vs/BlazoRsvp/DesignTimeBuild
/.vs/BlazoRsvp/FileContentIndex
/.vs/BlazoRsvp/v17/TestStore/0
/.vs/BlazoRsvp/v17
/.vs/ProjectEvaluation
/bin/Debug/net7.0
/BlazoRsvp.Tests/bin/Debug/net7.0
/BlazoRsvp.Tests/obj
/obj
